<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.swu">

    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
    </queries>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" /> <!-- 카메라/갤러리 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- firebase -->
    <uses-permission android:name="android.permission.INTERNET " />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 맵 -->
    <!-- 맵 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="false"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SWU">
        <activity android:name=".PlistActivity" />
        <activity android:name=".HomeDel" />
        <activity
            android:name=".EboxAdd"
            android:exported="false"
            android:parentActivityName=".EboxAdd" />
        <activity android:name=".DsSearch" />
        <activity
            android:name=".PillSearch"
            android:exported="false"
            android:parentActivityName=".DsSearch" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.cookandroid.swu.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 파일경로 xml생성 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/external" />
        </provider>
        <!-- map API키-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBtmz_f0Xep_Y897O5TxEwu9J_wO1IouLs" />
    </application>

</manifest>